# Virtual env / caches
.venv/
__pycache__/
*.py[cod]
.DS_Store
.vscode/
.ipynb_checkpoints/
*.ipynb~

# Env files
.env
*.env

# Vector DB (Chroma)
rag_pipeline_project/embeddings/

# Notebooks cache (optional)
rag_pipeline_project/app/notebooks/embeddings

# Artifacts: ignore all, keep the diagram & export
rag_pipeline_project/artifacts/**
!rag_pipeline_project/artifacts/mi_graph.mmd
!rag_pipeline_project/artifacts/mi_graph.png
